@font-face {
  font-family: 'gillsans';
  src: url('./assets/media/gill_sans-webfont.woff2') format('woff2'),
       url('./assets/media/gill_sans-webfont.woff') format('woff');    
}

@font-face {
  font-family: 'gillsansMedium';
  src: url('./assets/media/gill_sans_medium-webfont.woff') format('woff'),
       url('./assets/media/gill_sans_medium-webfont.woff2') format('woff2');    
}

@font-face {
  font-family: 'avenirMedium';
  src: url('./assets/media/avenirltstd-roman-webfont.woff') format('woff'),
       url('./assets/media/avenirltstd-roman-webfont.woff2') format('woff2');    
}

@font-face {
  font-family: 'avenirLight';
  src: url('./assets/media/avenirltstd-book-webfont.woff') format('woff'),
       url('./assets/media/avenirltstd-book-webfont.woff2') format('woff2');    
}

